* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #61eaff;
}
section::before {
    content: '';
    position: absolute;
    background: #41d8ef;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.container .contact__info {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: rgb(18, 141, 230);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.container .contact__info h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.container .contact__info ul.info {
    position: relative;
    margin: 20px 0;
}
.container .contact__info ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container .contact__info ul.info li span:nth-child(1) {
    width: 30px;
    min-width: 30px;
}
.container .contact__info ul.info li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1)
}
.container .contact__info ul.info li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}
.container .contact__info ul.social {
    position: relative;
    display: flex;
}

.container .contact__info ul.social li {
    list-style: none;
    margin-right: 20px;
}
.container .contact__info ul.social li a {
    text-decoration: none;
}
.container .contact__info ul.social li a img {
    filter: invert(1);
}
.container .form {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
}
.container .form h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.container .form .form__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container .form .form__box .input__box {
    position: relative;
    margin-top: 35px;
}
.container .form .form__box .input__box.w50 {
    width: 47%;
}
.container .form .form__box .input__box.w100 {
    width: 100%;
}
.container .form .form__box .input__box input,
.container .form .form__box .input__box textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.container .form .form__box .input__box textarea {
    height: 120px;
}
.container .form .form__box .input__box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container .form .form__box .input__box input:focus ~ span,
.container .form .form__box .input__box input:valid ~ span,
.container .form .form__box .input__box textarea:focus ~ span,
.container .form .form__box .input__box textarea:valid ~ span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(28, 130, 225);
}
.container .form .form__box .input__box input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: rgb(0, 149, 255);
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
    border-radius: 25px;
}
.container .form .form__box .input__box input[type="submit"]:hover {
    background: #41d8ef;
    font-weight: bolder;
}




